.settings__setting{
    padding: 20px 0px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings__setting i{
    opacity: 0.8;
    margin-right: 20px;
    font-size: 22px;
}

.settings__setting-column:last-child{
    opacity: 0.5;
}

.settings__setting:nth-child(3){
    padding-bottom: 35px;
    border-bottom-color: rgba(0,0,0,0.2);
}

.settings__setting:nth-child(4){
    padding-top: 35px;
}

.setting__setting-column__n{
    font-size: 12px;
    display:block;
    width: 20px;
    height: 20px;
    border-radius: 50%;;
    background-color: tomato;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}

.settings__setting-column{
    display:flex;
    align-items: center;
}